<!DOCTYPE html>
<html lang="en" class="h-100" prefix="og: http://ogp.me/ns#">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/vendor/bootstrap.css" rel="stylesheet">
	<link href="/vendor/leaflet.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<title>DigiNodes</title>
</head>

<body class="d-flex flex-column h-100">
	<navbar class="navbar navbar-expand-md navbar-dark bg-dark bg-blue header">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img src="/img/regular.png" height="50">
				<i><span class="h3 align-middle">DigiByte Nodes</span></i>
			</a>
		</div>
	</navbar>
	
	<main class="container my-3">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h1 class="text-center">World map</h1>
				<div id="map" class="img-thumbnail"></div>
			</div>
		</div>
	</main>

	<footer class="footer mt-auto py-3 bg-dark">
		<div class="container text-center" style="color:#FFFFFF;">
			&#169;2022 DigiNodes - Be part of the DigiByte Network
		</div>
	</footer>

	<script src="/vendor/bootstrap.js"></script>
	<script src="/vendor/leaflet.js"></script>
	<script src="/vendor/chart.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>